<div class="container">
    <nav class="navbar navbar-light bg-light">
        <button id="add-box-button" class="btn btn-primary">Add Box</button>
    </nav>
    <div id="box-container">

    </div>
</div>